{% extends "layout.html" %}

{% block content %}
<div class="panel-group" role="tablist">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-tasks"></span>
      Usage
    </div>
    <div class="table-responsive">
      <table class="table table-condensed">
        <tr>
          <th>Active namespaces</th>
          <td class="text-right">{{ '{:,}'.format(pods.active_namespaces) }}</td>
        </tr>
        <tr>
          <th>Active pods</th>
          <td class="text-right">{{ '{:,}'.format(pods.total_pods) }}</td>
        </tr>
        <tr>
          <th>Control nodes</th>
          <td class="text-right">{{ '{:,}'.format(metrics.control_nodes) }}</td>
        </tr>
        <tr>
          <th>Worker nodes</th>
          <td class="text-right">{{ '{:,}'.format(metrics.worker_nodes) }}</td>
        </tr>
        <tr>
          <th>RAM usage</th>
          <td class="text-right">{{ metrics.mem_used_bytes|round|int|filesizeformat(True) }} of {{ metrics.mem_total_bytes|round|int|filesizeformat(True) }}</td>
        </tr>
        <tr>
          <th>CPU usage</th>
          <td class="text-right">{{ '{:,}'.format(metrics.cpu_used|round(2)) }} of {{ '{:,}'.format(metrics.cpu_total|round|int) }}</td>
        </tr>
        <tr>
          <th>Kubernetes version</th>
          <td class="text-right">{{ version.git_version }}</td>
        </tr>
      </table>
    </div>
    <div class="panel-footer text-right">
      <small>Data updated: {{ pods.generated }} UTC</small>
    </div>
  </div>
</div>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
