{% extends "layout.html" %}

{% block title %}Image {{ name }} - {{ super() }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('images') }}" rel="nofollow">Images</a></li>
  <li class="active">{{ name }}</li>
</ol>
<div class="page-header">
  <h1>Image: {{ image }}</a></h1>
</div>


<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-modal-window"></span>
      Pods
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>Namespace</th>
          <th>Pod</th>
        </tr>
      </thead>
      <tbody>
        {% for pod in pods %}
        <tr>
          <td><a href="{{ url_for('namespace', namespace=pod.0) }}">{{ pod.0 }}</a></td>
          <td><a href="{{ url_for('pod', namespace=pod.0, pod=pod.1) }}">{{ pod.1 }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/css/theme.default.min.css" crossorigin="anonymous">
{% endblock css %}

{% block js %}
{{ super() }}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".tablesorter").tablesorter();
});
</script>
{% endblock js %}
{# vim:sw=2:ts=2:sts=2:et: #}
