{% extends "layout.html" %}

{% block content %}
<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-folder-open"></span>
        Active namespaces
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled column-list">
        {% for ns in namespaces["items"] if ns.metadata.name in active %}
        <li><a href="{{ url_for('namespace', namespace=ns.metadata.name) }}" rel="nofollow">{{ ns.metadata.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div id="allns-heading" class="panel-heading" role="tab">
      <h3 class="panel-title">
        <a href="#allns-body" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="allns-body">
          <span class="glyphicon glyphicon-folder-open"></span>
          Unused namespaces
        </a>
      </h3>
    </div>
    <div id="allns-body" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="allns-heading">
      <ul class="list-unstyled column-list">
        {% for ns in namespaces["items"] if ns.metadata.name not in active %}
        <li><a href="{{ url_for('namespace', namespace=ns.metadata.name) }}" rel="nofollow">{{ ns.metadata.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
