{% extends "layout.html" %}

{% block title %}Pod {{ namespace }}.{{ pod.metadata.name }} - {{ super() }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('namespaces') }}" rel="nofollow">Namespaces</a></li>
  <li><a href="{{ url_for('namespace', namespace=namespace) }}" rel="nofollow">{{ namespace }}</a></li>
  <li>Pods</li>
  <li class="active">{{ pod.metadata.name }}</li>
</ol>
<div class="page-header">
  <h1>Pod: {{ pod.metadata.name|capitalize }}</a></h1>
</div>

<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-equalizer"></span>
        Status
      </h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Ready</dt>
        <dd>{{ pod.status.container_statuses|selectattr('ready', 'equalto', True)|list|length }}/{{ pod.status.container_statuses|length }}</dd>
        <dt>Status</dt>
        <dd>{{ pod.status.phase }}</dd>
        <dt>Restarts</dt>
        <dd>{{ pod.status.container_statuses|sum(attribute='restart_count') }}</dd>
        <dt>Node</dt>
        <dd>{{ pod.spec.node_name }}</dd>
        <dt>Age</dt>
        <dd>{{ pod.status.start_time|summarize }} ({{ pod.status.start_time.strftime('%Y-%m-%d %H:%M:%S %Z') }})</dd>
        <dt>Labels</dt>
        <dd>
          {% for key, value in pod.metadata.labels.items() -%}
          <span class="label label-outline label-info">{{ key }}={{ value }}</span>
          {%- endfor %}
        </dd>
        <dt>Annotations</dt>
        <dd>
          {% for key, value in pod.metadata.annotations.items() -%}
          <span class="label label-outline label-default">{{ key }}: {{ value }}</span>
          {%- endfor %}
        </dd>
        <dt>IP</dt>
        <dd>{{ pod.spec.pod_ip }}</dd>
        <dt>Controlled by:</dt>
        <dd>{% for ref in pod.metadata.owner_references -%}
          <span>{{ ref.kind }}/{{ ref.name }}</span>
        {%- endfor %}</dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-picture"></span>
        Containers
      </h3>
    </div>
    <div class="panel-body panel-group">
      {% for container in pod.spec.containers %}
      <div class="panel panel-default">
        <div class="panel-heading">{{ container.name }}</div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Container id</dt>
            <dd>{{ pod.status.container_statuses|selectattr('name', container.name)|map(attribute='container_id') }}</dd>
            <dt>Image</dt>
            <dd>{{ container.image }}</dd>
            <dt>Image id</dt>
            <dd>{{ pod.status.container_statuses|selectattr('name', container.name)|map(attribute='image_id') }}</dd>
            <dt>Port</dt>
            <dd>{% for port in container.ports -%}
              {{ port.container_port }}/{{ port.protocol }}
            {%- endfor %}</dd>
            <dt>Host port</dt>
            <dd>{% for port in container.ports -%}
              {{ port.host_port }}/{{ port.protocol }}
            {%- endfor %}</dd>
            <dt>Command</dt>
            <dd><ul class="list-unstyled">
                {% for cmd in container.command %}<li>{{ cmd }}</li>{% endfor %}
            </ul></dd>
            <dt>State</dt>
            <dd>
              {% set states = pod.status.container_statuses|selectattr('name', container.name)|map(attribute='state')|dictsort %}
              {% for key, value in states.items() %}
              {{ key }}
              <dl class="dl-horizontal">
                {% for name, data in value %}
                <dt>{{ name }}</dt>
                <dd>{{ data }}</dd>
                {% endfor %}
              </dl>
            {% endfor %}</dd>
          <dt>Ready</dt>
          <dd>{{ pod.status.container_statuses|selectattr('name', container.name)|map(attribute='ready')|first() }}</dd>
          <dt>Restart count</dt>
          <dd>{{ pod.status.container_statuses|selectattr('name', container.name)|map(attribute='restart_count')|first() }}</dd>
          {% if container.resources['limits'] %}
          <dt>Limits</dt>
          <dd><dl class="dl-horizontal">
              {% for name, value in container.resources['limits'].items() %}
              <dt>{{ name }}</dt>
              <dd>{{ value }}</dd>
              {% endfor %}
          </dl></dd>
          {% endif %}
          {% if container.resources['requests'] %}
          <dt>Requests</dt>
          <dd><dl class="dl-horizontal">
              {% for name, value in container.resources['requests'].items() %}
              <dt>{{ name }}</dt>
              <dd>{{ value }}</dd>
              {% endfor %}
          </dl></dd>
          {% endif %}
          <dt>Environment</dt>
          <dd><dl class="dl-horizontal">
              {% for item in container.env %}
              <dt>{{ item.name }}</dt>
              <dd>{{ item.value }}</dd>
              {% endfor %}
          </dl></dd>
          <dt>Mounts</dt>
          <dd><ul class="list-unstyled">
              {% for mount in container.volume_mounts %}
              <li>{{ mount.mount_path }} from {{ mount.name }}</li>
              {% endfor %}
          </li></dd>
        </dl>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-blackboard"></span>
        Conditions
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        {% for msg in pod.spec.status %}
        <li><span class="status-ts">{{ msg.last_transition_time.strftime('%Y-%m-%d %H:%M:%S %Z') }}</span> <span class="status-type">{{ msg.type }}</span> <span class="status-message">{{ msg.message }}</span>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div id="yaml-heading" class="panel-heading" role="tab">
      <h3 class="panel-title">
        <a href="#yaml-body" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="yaml-body">
          <span class="glyphicon glyphicon-floppy-disk"></span>
          YAML dump
        </a>
      </h3>
    </div>
    <div id="yaml-body" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="yaml-heading">
    <pre><code class="language-yaml">{{ pod.to_dict()|yaml }}</code></pre>
  </div>

</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/highlight.js/9.15.10/styles/solarized-light.min.css" integrity="sha256-WYJU0xxU/YMhVBfwHlz/hFemLIHoVsfIClbaksqOWvk=" crossorigin="anonymous" />
{% endblock %}

{% block js %}
{{ super() }}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/highlight.js/9.15.10/highlight.min.js" integrity="sha256-1zu+3BnLYV9LdiY85uXMzii3bdrkelyp37e0ZyTAQh0=" crossorigin="anonymous"></script>
<script type="text/javascript">
  hljs.initHighlightingOnLoad();
</script>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
